.content {
  h2 {
    text-align: center;
    margin: auto;
    padding: 20px 0;
  }

  .button {
    display: flex;
    width: 95%;
    justify-content: flex-end;
    margin: 30px 24px;
  }
}