@import '../../mixins';
@import '../../variabales';

.primaryButton {
  height: 56px;
  width: 200px;
  @include primaryButton;
  border-radius: 22px;
}

.secondaryButton {
  @include secondaryButton;
  height: 56px;
  width: 200px;
  border-radius: 22px;
}
