@import '../../mixins';
@import '../../variabales';

.primaryButton {
  height: 50px;
  width: 200px;
  @include primaryButton;
  border-radius: 30px;
}

.secondaryButton {
  @include secondaryButton;
  height: 50px;
  width: 200px;
  border-radius: 30px;
}

.disabledButton {
  @include disabledButton;
  height: 50px;
  width: 200px;
  border-radius: 30px;
}
