.header {
    height: 70px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e5e5e5;
}

.logo {
    height: 50px;
    width: 50px;
}

.userInfo {
    display: flex;
    justify-content: end;
    align-items: center;
}

.name {
    font-size: 18px;
    text-align: end;
}

.group {
    font-size: 12px;
    font-weight: 700;
    color: grey;
}

.avatar {
    margin-left: 15px;
}

.logout {
    cursor: pointer;
    margin-left: 50px;
}