@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin large {
  @media (min-width: 2100px) {
      @content;
  }
}

@mixin primaryButton() {
  background-color: $active-button;
  border: 0;
  color: white;

  &:hover {
    background-color: $hover-button-color;
  }

  border-radius: 42px;
  font-weight: bold;
  font-size: 16px;

  cursor: pointer;
}

@mixin secondaryButton() {
  background-color: white;
  border: 1px solid $active-button;
  color: $active-button;

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }
  
  border-radius: 42px;
  font-weight: bold;
  font-size: 16px;

  cursor: pointer;
}
